.main-content {
	@extend .col-sm-8;

	&.full{
		@extend .col-sm-12;
	}

	a {

	}

	.footer-text{
		font-size: 12px;
	}
}
.sidebar {
	@extend .col-sm-4;

	button {
		@extend .mfull;

		.icon {
			@extend .pull-left;
			margin-top: -5px;

			.fa {
				font-size: 2em;
			}
		}
	}
}