aside.sidebar{
	.anchor-button{
		@extend button;
	}

	.smile-gallery{
		@extend .text-center;
		display: block;
		img.b64{
			@extend .img-responsive;
			display: inline-block;
			height: 100%;
			width: 100%;
			max-height: 128px;
			max-width: 128px;

			&.shiny-tooth{
				max-height: 134px;
				max-width: 134px;
				margin-bottom: 10px; 
			}
		}
	}
}