
.breadcrumbs{
	@extend .row; 
	background-color: #f5f5f5;

	.b64{
		height: 1.7em;
	    width: 1.7em;
	    // margin-left: 10px;
	}

	.breadcrumb{
		display: inline-block;
		margin-bottom: 0;

		> li + li:before {
	    	content: "/" !important;
	    	padding: 0 5px;
	    	color: #ccc;
	    }

	   
	}

	ul{
		@extend .pull-right;
		padding: 8px 15px;
		margin-bottom: 0;
		li{

		}
	}

}
